@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

$color-highlight: #4aabc9;

html, body {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  background: $color-highlight;
  background: linear-gradient(135deg, $color-highlight 0%,#7db9e8 100%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  transition: .2s all;

  &:focus {
    outline: none;
  }
}

button.big {
  color: #444;
  padding: 2rem 4rem;
  border: 0;
  border-radius: 4px;
  background-color: #fff;

  &:hover {
    background-color: #e4e4e4;
  }
}

button.hidden {
  display: none;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h1 {
  color: #fff;
  padding: 30px;
  margin: 0;
}

a.neat {
  color: inherit;
  text-decoration: none;
}

.bubble {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid #fff;
  border-radius: 0.8em;

  &.fill {
    background-color: #fff;
  }
}

.reader {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 10%;
}

a.switch {
  display: block;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
}

#content {
  height: 100%;
}

#actions {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1rem;
}