/deep/ .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 42;
}

/deep/ .modal, .modal.in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}